
.table {
  margin-top: .5rem;
}

.thead {
  display: table-header-group;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: table-row;
}

.th,
.td {
  border-bottom: 1px solid var(--color-secondary);
  border-left: 0;
  border-right: 0;

  padding: .5rem;
  text-align: left;
  vertical-align: top;
}

.th {
  font-weight: normal;
  color: var(--color-secondary);
}

.th:first-child,
.td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

