<div class="social-share">
  {% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
  comparte
  <a class="social-share-element" id="social-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via=francholab&hashtags={{ tagStr }}" target="_blank" title="Share this post on Twitter">
    <i class="fa fa-twitter-square"></i>
  </a>
  <a class="social-share-element" id="social-facebook" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}" target="_blank" title="Share this post on Facebook">
    <i class="fa fa-facebook-square"></i>
  </a>
  <a class="social-share-element" id="social-google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share this post on Google Plus">
    <i class="fa fa-google-plus-square"></i>
  </a>
  <a class="social-share-element" id="social-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ url }}&source=http%3a%2f%2ffrancho.org" target="_blank" title="Share this post on LinkedIn">
    <i class="fa fa-linkedin-square"></i>
  </a>

</div>
